@import '../../../styles/variables.scss';

$in-cell-margin: 12px;
$cell-padding-amount: 8px;
$cell-padding: $cell-padding-amount;


.list-projectMonths {
  max-width: 1800px !important;

  tbody {
    border-bottom: 1px solid $table-border-color;
  }

  tfoot {
    border-bottom: 2px solid $table-border-color;

    td {
      padding: $cell-padding;
      vertical-align: top;
    }

    small {
      font-weight: normal;
    }
  }

  .list-projectMonths-collapsed {
    > * {
      margin-right: 8px;
    }

    .separate > span {
      margin-right: 18px;

      > * {
        margin-right: 8px;

        &:not(:last-child) {
          margin-right: 24px;
        }

        > i:before {
          padding-right: 8px;
        }
      }
    }
  }

  .list-separator {
    width: 70%;

    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    margin-top: 3.5rem;
    margin-bottom: 3rem;
  }
}


.projectMonths-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  > h2 {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}


@mixin attachment-upload-preview-buttons {
  display: flex;

  .btn-group {
    width: 100%;

    > * {
      width: 50% !important;

      > * { width: 100%; }
    }
  }

  .single-button {
    width: 100%;

    > * { width: 100%; }
    button { width: 100%; }
  }
}




.createProjectsMonth.dl-box {
  dd, dt {
    line-height: 80%;
  }

  .project-duration {
    display: inline-block;
    width: 200px;

    .fa {
      font-size: 80%;
    }

    .fa-clock {
      margin: 0 4px;
    }

    .fa-arrow-right {
      margin: 0 6px;
    }
  }

  .clientName {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}





.table-projectMonths {
  thead {
    border-top: 1px solid $table-border-color;
  }

  td {
    padding: 0;
  }

  th {
    text-align: center;

    &:first-child { width: 1%; }
    &:nth-child(2) { width: 29%; }
    &:nth-child(3) { width: 44%; }
    &:nth-child(4) { width: 25%; }
    &:last-child { width: 1%; max-width: 60px; }
  }

  td, th {
    border-right: 2px solid $table-border-color;

    &:first-child {
      border-left: 2px solid $table-border-color;
    }
  }

  .consultant-cell {
    padding: 4px;
    min-width: 60px;
    max-width: 150px;

    div {
      @include ellipsis;
      font-weight: bold;
    }

    small {
      @include ellipsis;
      display: block;
    }
  }

  .validated {
    background-color: rgba($success, .2);
  }



  /** The timesheet cell */
  .timesheet-cell {
    display: flex;
    padding: $cell-padding;

    .timesheet-actions {
      @include attachment-upload-preview-buttons;

      >*:not(:last-child) {
        margin-right: $in-cell-margin;
      }

      >*:first-child { width: 25%; }
      >*:nth-child(2) { width: 25%; }
      >*:last-child { width: 50%; }
    }


    > span {
      // Success timesheet/check display
      font-size: 21px;
      text-align: center;
      align-self: center;
    }

    > * {
      &:first-child { width: 25%; }
      &:nth-child(2) { width: 25%; }
      &:last-child { width: 50%; min-width: 200px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }
  }


  /** The inbound cell */
  .inbound-cell, .inbound-proforma {
    display: flex;
    padding: $cell-padding;

    > * {
      &:first-child { width: 10%; min-width: 120px; }
      &:nth-child(2) { width: 20%; text-align: right; }
      &:nth-child(3) { width: 35%; text-align: center; }
      &:last-child { width: 45%; min-width: 230px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    span {
      font-size: 18px;
      align-self: center;
      white-space: nowrap;

      &:first-child {
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.amount-label {
          content: '#';
        }
      }
    }

    .input-group.date-group {
      margin-bottom: 0;
    }

    .inbound-actions {
      display: flex;
      justify-content: space-between;

      >:first-child { width: 60%; margin-right: $in-cell-margin }
      >:last-child { width: 40%; }

      .inbound-attachment-actions {
        @include attachment-upload-preview-buttons
      }
    }
  }

  .inbound-proforma:first-child {
    // Inbound invoice with proform for a consultant
    padding-top: $cell-padding-amount;
  }

  .inbound-proforma {
    padding-top: 0;

    .inbound-actions > .btn-group > * {
      width: 50%;
    }
  }



  /** The outbound cell when invoice is NOT created */
  .outbound-cell {
    display: flex;
    padding: $cell-padding;

    > * {
      &:first-child { width: 90%; }
      &:nth-child(2) { width: 50px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    .split-orderNr {
      display: flex;

      >:first-child { width: 40% }
      >:nth-child(2) {
        width: 60%;
        margin-left: $in-cell-margin;
        min-width: 160px;
      }
    }
  }

  .outbound-td:has(.all-verified) {
    background-color: rgba(40, 167, 69, 0.2);
  }

  // Outbound cell when invoice has been created
  .outbound-invoice-cell {
    display: flex;

    > * {
      &:first-child { width: 40%; }
      &:nth-child(2) { width: 10%; }
      &:nth-child(3) { width: 50%; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    // Invoice nr/date/amount
    > div:first-child {
      display: flex;
      flex-flow: column;
      padding: 4px;

      span:first-child {
        // Invoice amount
        font-weight: bold;
      }

      span:last-child {
        // invoice nr/date
        font-size: 75%;
      }
    }

    .email {
      // Extra $cell-padding -- this "fixes" the white border at the
      // bottom of the cell introduced after adding the credit notes
      padding: 9px 8px;

      button {
        padding: 0;

        .fa-envelope {
          color: black;
        }
      }
    }

    .icons-cell {
      padding: $cell-padding;
      align-self: center;
      margin-right: 8px;
    }
  }


  // The notes cell
  .notes-cell {
    display: flex;
    padding: $cell-padding;
  }
}
