.virtual-table {
  height: 700px;
  max-width: 100% !important;
  overflow: auto;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }

  thead {
    margin: 0;
    position: sticky;
    top: 0;
  }

  th {
    padding: 2px 4px;
    text-align: left;
  }

  td {
    padding: 6px;
  }
}
