@import '../../styles/variables.scss';

$borderSeparator: 3px solid $table-border-color;

.list-projects {
  max-width: 1600px !important;

  table.table-projects {
    td:nth-child(1) { width: 30%; }
    td:nth-child(2) { min-width: 110px; }
    td:nth-child(3) { min-width: 110px; }

    td:nth-child(4) { width: 30%; }
    td:nth-child(5) { min-width: 110px; }

    td:nth-child(6) { width: 30%; }
    td:nth-child(7) { min-width: 100px; }
    td:nth-child(8) { min-width: 150px; }

    thead, tbody {
      th, td {
        &:nth-child(3), &:nth-child(5) {
          border-right: $borderSeparator;
        }
      }
    }

    tfoot {
      border-top: $borderSeparator;

      td:nth-child(1) {
        border-right: $borderSeparator;
      }
      td:nth-child(2) {
        border-right: $borderSeparator;
      }
    }
  }
}


table.table-projectMonths, table.table-projects {
  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      width: 33%;
    }

    dd {
      margin-left: auto;
      width: 66%;
      text-align: right;
      margin-bottom: .5rem;
    }
  }

  .client-markup {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-bottom: .5rem;

      &.label {
        width: 30%;
      }

      &.total {
        width: 40%;
        text-align: right;
      }

      &.markup {
        width: 30%;
        margin-left: auto;
        text-align: right;
      }
    }
  }
}
