.audit-modal {
  width: 90%;
  max-width: 1400px !important;
}

.client-modal {
  width: 90%;
  max-width: 800px !important;
}

.notes-modal {
  width: 90%;
  max-width: 800px !important;
  height: 90%;
  max-height: none !important;
}
