button[disabled] {
  cursor: not-allowed;
}



$border-color: #ced4da; // or: hsl(0, 0%, 70%);?
$addon-icon-color: #9eaab5;
$placeholder-color: #c4ccd3;

::placeholder {
  color: $placeholder-color !important;
}

.input-group, .form-group {
  // .form-label {
  // }


  .form-control {
    &:hover {
      border-color: hsl(0, 0%, 70%);
    }

    &:focus {
      border-color: #2684FF;
      box-shadow: unset !important;
    }
  }

  .input-group-text {
    background-color: unset;

    i.fa {
      color: $addon-icon-color;
    }
  }
}



.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    width: 100%;
  }
}
