@import 'variables';

button[disabled] {
  cursor: not-allowed;
}



::placeholder {
  color: $placeholder-color !important;
}

.form-control {
  &:hover {
    border-color: hsl(0, 0%, 70%);
  }

  &:focus {
    border-color: #2684FF;
    box-shadow: unset !important;
  }
}

.input-group, .form-group {
  // .form-label {
  // }


  .input-group-text {
    background-color: unset;

    i.fa {
      color: $addon-icon-color;

      &.success {
        color: $success;
      }

      &.danger {
        color: $danger;
      }
    }
  }
}
