h1 {
	font-size: 28px;
}

h4 {
	margin-left: 13px;
}

a,
a:hover {
	color: black;
}

a.invoice-list-client:hover {
	text-decoration: none;
}

label {
  margin-bottom: 0.1rem;
}

tfoot td {
	font-weight: bold;
}
