h4 {
  margin-left: 13px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}


label {
  margin-bottom: 0.1rem;
}

tfoot td {
	font-weight: bold;
}

dl.dl-box {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 33%;
  }

  dd {
    margin-left: auto;
    width: 66%;
    margin-bottom: .5rem;
  }
}



// react-bootstrap Alert:
// X close button CSS was missing?
.btn-close::before {
  content: 'X';
  visibility: visible;
  color: black;
  font-weight: bold;
}

.sr-only::before {
  visibility: hidden;
}

.btn-close {
  visibility: hidden;
  position: absolute;
  right: 32px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(247, 12, 12, 0.5);
}

.navbar a {
  text-decoration: none;

  &.nav-link:hover {
    color: black;
  }
}
