h4 {
	margin-left: 13px;
}

a,
a:hover {
	color: black;
}


label {
  margin-bottom: 0.1rem;
}

tfoot td {
	font-weight: bold;
}

dl.dl-box {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 33%;
  }

  dd {
    margin-left: auto;
    width: 66%;
    margin-bottom: .5rem;
  }
}
