$success: #28a745;
$danger: #dc3545;


$border-color: #ced4da; // or: hsl(0, 0%, 70%);?
$addon-icon-color: #9eaab5;
$placeholder-color: #c4ccd3;

$table-border-color: #dee2e6;

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  @include ellipsis
}
