body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.clickable {
	cursor: pointer;
}

.icons-cell {
	text-align: right;
}
.icons-cell > div:not(:last-child), .icons-cell > i:not(:last-child) {
	margin-right: 18px;
}