// @media (min-width: 576px) { }
// @media (min-width: 768px) { }
// @media (min-width: 992px) { }
// @media (min-width: 1200px) { }

body {
	margin: 0;
	padding: 0;
  font-family: 'Lato', serif;
}

// Bootstrap & FontAwesome & Lato (font) are loaded in index.html

@import '../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../node_modules/react-ios-switch/build/bundle.css';
@import '../node_modules/react-toastify/dist/ReactToastify.css';

@import 'styles/html';

@import 'styles/rc-tooltip';
@import 'styles/toastr';
@import 'styles/forms';

.success {
  color: #28a745 !important;
}

.danger {
  color: #dc3545 !important;
}


.clickable {
	cursor: pointer;
}

.icons-cell {
  text-align: right;
  font-size: 0.8rem;
}
.icons-cell > div:not(:last-child), .icons-cell > i:not(:last-child) {
	margin-right: 12px;
}
.icon-link,
.icon-link:hover {
	color: grey;
}

.top-header {
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}


.button-row {
	text-align: center;
	margin-bottom: 8px;
}

.button-row > button:not(:last-child) {
	margin-right: 46px;
}



div.split {
	width: 100%;
	margin: auto;
}
div.split > div:first-child {
	float: left;
	width: 50%;
	margin-right: 10px;
}
div.split > div:nth-child(2) {
	overflow: hidden;
}

.unset-split {
	display: table;
	width: 100%;
}

.unset-split > div:first-child {
	display: table-cell;
}

.unset-split > div:nth-child(2) {
	display: table-cell;
}


.header-link.active {
  font-weight: bold;
}



small.created-on {
	font-size: 12px;
	color: grey;
  margin-left: 13px;
  display: block;
}

.edit-container {
  padding-bottom: 120px;

  h1 {
    width: 100%;
    margin-top: 15px;
  }

  .edit-footer {
    background-color: #F8F9FA;
    background-repeat: repeat-x;
    box-shadow: 0px -8px 13px rgba(100, 100, 100, 0.55);
    // box-shadow: 0px -8px 8px -10px rgba(0,0,0,.4);

    .navbar-center {
      text-align: center;
      width: 100%;
    }
  }
}


.client-list, .invoice-list, .quotation-list {
  margin-top: 15px;
}



@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 650px;
  }
}


@media (max-width: 1200px) {
	.container {
		width: 100%;
	}

	.edit-container h1 {
		margin-left: 10px;
	}
}
