// @media (min-width: 576px) { }
// @media (min-width: 768px) { }
// @media (min-width: 992px) { }
// @media (min-width: 1200px) { }

body {
	margin: 0;
	padding: 0;
  font-family: 'Lato', serif;
}


.clickable {
	cursor: pointer;
}

.icons-cell {
  text-align: right;
  font-size: 0.8rem;
}
.icons-cell > div:not(:last-child), .icons-cell > i:not(:last-child) {
	margin-right: 12px;
}
.icon-link,
.icon-link:hover {
	color: grey;
}

a,
a:hover {
	color: black;
}

a.invoice-list-client:hover {
	text-decoration: none;
}

.button-row {
	text-align: center;
	margin-bottom: 8px;
}

.button-row > button:not(:last-child) {
	margin-right: 46px;
}

tfoot td {
	font-weight: bold;
}

div.split {
	width: 100%;
	margin: auto;
}
div.split > div:first-child {
	float: left;
	width: 50%;
	margin-right: 10px;
}
div.split > div:nth-child(2) {
	overflow: hidden;
}

.unset-split {
	display: table;
	width: 100%;
}

.unset-split > div:first-child {
	display: table-cell;
}

.unset-split > div:nth-child(2) {
	display: table-cell;
}

h1 {
	font-size: 28px;
}

h4 {
	margin-left: 13px;
}

small.created-on {
	font-size: 12px;
	color: grey;
  margin-left: 13px;
  display: block;
}

.edit-container h1 {
  width: 100%;
  margin-top: 15px;
}

.client-list {
  margin-top: 15px;
}



@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 650px;
  }
}


@media (max-width: 1200px) {
	.container {
		width: 100%;
	}

	.edit-container h1 {
		margin-left: 10px;
	}
}

.form-control:focus {
  box-shadow: unset !important;
}

.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    width: 100%;
  }
}
