body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.clickable {
	cursor: pointer;
}

.icons-cell {
	text-align: right;
}
.icons-cell > div:not(:last-child), .icons-cell > i:not(:last-child) {
	margin-right: 18px;
}

.button-row {
	text-align: center;
	margin-bottom: 8px;
}
.button-row > button:not(:last-child) {
	margin-right: 46px;
}

tfoot td {
	font-weight: bold;
}

div.split {
	width: 100%;
	margin: auto;
}
div.split > div:first-child {
	float: left;
	width: 50%;
	margin-right: 10px;
}
div.split > div:nth-child(2) {
	overflow: hidden;
}


h1 {
	font-size: 28px;
}

.edit-container {
	margin-top: -26px;
}


@media (max-width: 1200px) {
	.container {
		width: 100%;
	}

	.edit-container h1 {
		margin-left: 10px;
	}
}
