.dotted-cells-container {
  > div {
    &:first-child {
      padding-right: 8px;
    }

    &:last-child {
      padding-left: 8px;
    }
  }

  .dotted-cell {
    border: 1px dotted black;
    padding: 6px;
    height: 100%;
    width: 100%;

    h4 {
      margin-left: 0;
    }
  }
}

.invoice-top-buttonbar {
  padding: 5px;
  display: flex;
  border-radius: 5px;
  border: 1px dotted #666;
  align-items: center;

  > button:first-child {
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;

    i {
      font-size: 28px;
    }
  }

  &.invoice-edit {
    > button:first-child {
      padding-right: 20px;
    }
  }
}
