name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: frontend build and test
      working-directory: ./frontend
      run: |
        bun install --frozen-lockfile
        bun run build
        bun run test -- --run
        bun run lint
      env:
        CI: true

    - name: backend build and test
      working-directory: ./backend
      run: |
        bun install --frozen-lockfile
        bun run test
        bun run lint
      env:
        CI: true
