@import '../../../styles/variables.scss';

$table-border-color: #dee2e6;

$in-cell-margin: 12px;
$cell-padding: 8px 4px;

.table-projectMonths {
  td {
    padding: 0;
  }

  th {
    text-align: center;
  }

  td, th {
    border-right: 2px solid $table-border-color;

    &:first-child {
      border-left: 2px solid $table-border-color;
    }
  }

  .consultant-cell {
    padding: 4px;

    div {
      font-weight: bold;
      margin-bottom: -5px;
    }
  }

  .validated {
    background-color: rgba($success, .2);
    padding: 6px;
  }

  .timesheet-cell {
    display: flex;
    padding: $cell-padding;

    .timesheet-actions {
      > * {
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    > span {
      // Success timesheet/check display
      font-size: 21px;
      text-align: center;
      align-self: center;
    }

    > * {
      &:first-child { width: 25%; }
      &:nth-child(2) { width: 25%; }
      &:last-child { width: 50%; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }
  }


  .inbound-cell {
    display: flex;
    padding: $cell-padding;

    > * {
      &:first-child { width: 20%; }
      &:nth-child(2) { width: 30%; }
      &:nth-child(3) { width: 30%; }
      &:last-child { width: 20%; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    .forecast {
      font-size: 18px;
      text-align: center;
      align-self: center;
    }

    .inbound-actions {
      > * {
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}
