@import '../../../styles/variables.scss';

$in-cell-margin: 12px;
$cell-padding: 8px 8px;


@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.list-projectMonths {
  max-width: 1800px !important;

  tbody {
    border-bottom: 1px solid $table-border-color;
  }

  .list-projectMonths-collapsed {
    > * {
      margin-right: 8px;
    }

    .separate > span {
      margin-right: 18px;

      > * {
        margin-right: 8px;

        &:nth-child(even):not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  .list-separator {
    width: 70%;

    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    margin-top: 3.5rem;
    margin-bottom: 3rem;
  }
}


.projectMonths-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  > h2 {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}


.table-projectMonths {
  td {
    padding: 0;
  }

  th {
    text-align: center;

    &:first-child { width: 1%; }
    &:nth-child(2) { width: 29%; }
    &:nth-child(3) { width: 44%; }
    &:nth-child(4) { width: 25%; }
    &:last-child { width: 1%; max-width: 60px; }
  }

  td, th {
    border-right: 2px solid $table-border-color;

    &:first-child {
      border-left: 2px solid $table-border-color;
    }
  }

  .consultant-cell {
    padding: 4px;
    min-width: 60px;
    max-width: 150px;

    div {
      @include ellipsis;
      font-weight: bold;
    }

    small {
      @include ellipsis;
      display: block;
    }
  }

  .validated {
    background-color: rgba($success, .2);
  }



  /** The timesheet cell */
  .timesheet-cell {
    display: flex;
    padding: $cell-padding;

    .timesheet-actions {
      display: flex;
      justify-content: space-between;
    }


    > span {
      // Success timesheet/check display
      font-size: 21px;
      text-align: center;
      align-self: center;
    }

    > * {
      &:first-child { width: 25%; }
      &:nth-child(2) { width: 25%; }
      &:last-child { width: 50%; min-width: 150px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }
  }



  /** The inbound cell */
  .inbound-cell {
    display: flex;
    padding: $cell-padding;

    > * {
      &:first-child { width: 10%; min-width: 120px; }
      &:nth-child(2) { width: 20%; text-align: right; }
      &:nth-child(3) { width: 35%; text-align: center; }
      &:last-child { width: 35%; min-width: 150px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    span {
      font-size: 18px;
      align-self: center;
      white-space: nowrap;

      &:first-child {
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::before {
          content: '#';
        }
      }
    }

    .inbound-actions {
      display: flex;
      justify-content: space-between;

      .inbound-attachment-actions {
        display: flex;
      }
    }
  }



  /** The outbound cell when invoice is NOT created */
  .outbound-cell {
    display: flex;
    padding: $cell-padding;

    > * {
      &:first-child { width: 90%; }
      &:nth-child(2) { width: 50px; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    .split-orderNr {
      display: flex;

      >:first-child { width: 40% }
      >:nth-child(2) {
        width: 60%;
        margin-left: $in-cell-margin;
        min-width: 160px;
      }
    }
  }



  // Outbound cell when invoice has been created
  .outbound-invoice-cell {
    display: flex;

    > * {
      &:first-child { width: 40%; }
      &:nth-child(2) { width: 60%; }

      &:not(:last-child) {
        margin-right: $in-cell-margin;
      }
    }

    // Invoice nr/date/amount
    > div:first-child {
      display: flex;
      flex-flow: column;
      padding: 4px;

      span:first-child {
        // Invoice amount
        font-weight: bold;
      }

      span:last-child {
        // invoice nr/date
        font-size: 75%;
      }
    }

    .icons-cell {
      padding: $cell-padding;
      align-self: center;
      margin-right: 8px;
    }
  }


  // The notes cell
  .notes-cell {
    display: flex;
    padding: $cell-padding;
  }
}
