.attachment {
  padding: 5px;
  display: flex;
  border-radius: 5px;
  border: 1px dotted #666;
  align-items: center;

  .icon {
    width: 20px;
    margin-right: 12px;
  }

  .info {
    flex: 1;
    margin-top: -4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .fileName {
      display: block;
      font-size: .7em;
      margin-top: -2px;
    }
  }

  .attachment-actions {
    opacity: 0;
    display: flex;
    align-items: center;

    > div {
      margin-right: 15px;
    }
  }

  &:hover .attachment-actions {
    opacity: 1;
  }
}
